
<div class="row">
<div class="col-md-6 col-md-offset-3 text-center">
<%= form_for :question, url: questions_path do |f| %>
  <% if @question.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@question.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @question.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  
  <p>
    <%= f.label "Enter new question" %><br>
     <%= f.text_area :text %>
  </p>
 
 <p>
   <%= f.label "Enter possible answers" %><br>
   <%= f.fields_for :possible_answers do |builder| %>
   <%= render "possible_answer_fields", :f => builder %>
   <% end %>
  
  <p>
    <%= f.submit :Save %>
  </p>
<% end %>






</div>

</div> 
 
