<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center"><h1> My Questions </h1> </div> 

<br> 
<br> 
<br>
<br> 

<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
<table>
  <tr>
    <th></th>
    <th>
  </tr>
</div>
 


  <% @questions.each do |question| %>
    
    <tr>
    <td><%= question.text %></td>
<button type="button" class="btn btn-default btn-lg btn-block"><td><%= link_to 'Vote', question_path(question) %></td></button>
<td><%= link_to 'Edit', edit_question_path(question) %></td>
<td><%= link_to 'Delete', question_path(question), method: :delete, data: { confirm: 'Are you sure?' } %></td>
 	
  </tr>
  <% end %>

</table>

<br> 
<br>
<br> 

<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center"><button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-question-sign"></span> 
 <%= link_to 'New question', new_question_path %> </button></div>
</div> 

<br> 
<br> 
<br> 
