<p>
  <strong>QUESTION:</strong>
  <%= @question.text %>
</p>



<h2>Add an answer:</h2>

<%= form_for(@answer) do |f| %>
<p>
  <%= f.radio_button(:body, "YES") %>
  <%= f.label "YES" %>
  <%= f.radio_button(:body, "NO") %>
  <%= f.label "NO" %>
  <%= f.hidden_field :question_id, :value => @question.id %>
  </p>


  <p>

    <%= f.submit %>
  </p>
<% end %>

 
<%= link_to 'Edit Question', edit_question_path(@question) %> |
<%= link_to 'Back to Questions', questions_path %>