
<br>
<br>

<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
<p>
  <strong>QUESTION:</strong>
  <h2><%= @question.text %></h2>

</p>
</div>

<br>
<br>

<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">

  <% @possible_answers.each do |possible_answer| %>
    <div class="col-md-6">
      <h4><a href="#"><%= possible_answer.body %></a></h4>
    </div>
     <div class="col-md-6 col-md-offset-3 text-center">
    <% if @vote %>
      <% if @vote.possible_answer_id == possible_answer.id %>
         <div class="col-md-6 col-md-offset-3">
          <h4>Already voted</h4> 
          </div>
      <% end %>

    <% else %>
      <%= form_for([@question, possible_answer, Vote.new]) do |f| %>
        <%= f.submit :Vote %>
      <% end %>
    <% end %>
    </div>
  <% end %>
  </div>





  <%= link_to 'Ask friends', '#', id: "send-friends", data: { question: @question.id} %> 

</div>

<br/>

<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">

<%= link_to 'Edit Question', edit_question_path(@question) %> |
<%= link_to 'Back to Questions', questions_path %>

</div>