<h1><%= @decision.question %></h1>
<p><%= @decision.description %></p>
<div class = "row">

<% @decision.options.each do |option| %>

<div class = "span5 well option"><%= option.name %></div>

<% end %>

</div>

<%= link_to "Edit", [:edit, @decision] %> 

<%= link_to "Delete", @decision, :method => :delete, :confirm => "Are you sure?" %>

