<%= form_for([@question, @question.answers.build]) do |f| %>
<p>
  <%= f.radio_button(:body, "YES") %>
  <%= f.label "YES" %>
  <%= f.radio_button(:body, "NO") %>
  <%= f.label "NO" %>
  </p>


 
  <p>
    <%= f.submit %>
  </p>
<% end %>


