<head> 
</head> 

<body> 

<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center"><h1 id="answer_title"> Answers </h1>
 </div> 

 <br> 
 <br> 
 <br> 
 <br> 
 <br> 

 <div class="row">
  <div class="col-md-7 col-md-offset-2 text-left">

  <strong>All questions & answers:</strong>

  <br> 

<div class="row-fluid">
  <div class="span10">

<table> 

<% @questions.each do |question| %> 

<tr>

<td id= "question_text"><%=question.text%></td> 

<td>YES : <%= question.number_of_yes_answers %></td>
<td>NO : <%= question.number_of_no_answers %></td> 
</tr>
<tr>
<td id= "procon"><%= link_to "Pros & Cons", question_insights_path(question)%></td> 
</tr>

<% end %> 
</table>
</div>
</div>

<br> 
<br> 
<br> 


<%= link_to 'Back', questions_path %> 

</div> 



</body> 



